.auth__wrapper {
  height: 100vh;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__ornL {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
}

.auth__ornR {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15rem;
}

.auth__form {
  text-align: center;
}

.auth__form img {
  margin: 0 auto;
  margin-bottom: 25px;
}

.auth__form h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.auth__form p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.3);
}

.auth__form a {
  color: #2a79f0;
}

.auth__form a:hover {
  text-decoration: underline;
}

.auth__input {
  margin: 25px auto;
  width: 450px;
}

.auth__input input {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 14px;
}

.auth__input input:focus {
  outline-color: #347ae2;
}

.auth__forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #2a79f0;
}

.auth__submit .login__btn {
  background: #347ae2;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 15px;
}

.auth__submit .login__btn:hover {
  background: #3276dc;
}

.auth__divider {
  border: 1px solid rgba(0, 0, 0, 0.179);
  position: relative;

  margin: 35px auto;
}

.auth__divider span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.3);
}

.auth__google button {
  background: #000000!important;
  border-radius: 10px!important;
  font-weight: 600!important;
  font-size: 14px!important;
  line-height: 19px!important;
  color: #ffffff!important;
  width: 100%!important;

  padding: 5px 15px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.auth__google button *{
  background:none!important;
}

.auth__google img {
  text-align: center;
  margin: 0;
  margin-right: 15px;
  margin-top: -3px;
}

@media screen and (max-width: 425px) {
  .auth__wrapper {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5rem 1rem;
  }

  .auth__ornL {
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
  }

  .auth__ornR {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 7rem;
  }

  .auth__form {
    width: 100%;
  }

  .auth__form h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .auth__form p {
    font-size: 14px;
    line-height: 18px;
  }

  .auth__input {
    width: 100%;
  }

  .auth__input input {
    font-size: 12px;
  }

  .auth__forgot {
    font-size: 12px;
    line-height: 18px;
  }

  .auth__submit .login__btn {
    width: 200px;
    font-size: 14px;
  }
}
