@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --color-primary: #347ae2;
  --color-red: #ff3b3b;
  --color-red2: #e63535;
  --color-warning: #ffae00;
  --color-gray1: #4f4f4f;
  --color-light-gray1: #e0e0e0;
  --color-success: #05a660;
}

.text__color_primary {
  color: var(--color-primary);
}

.text__color_gray_1 {
  color: var(--color-gray1);
}

.btn__primary {
  background-color: var(--color-primary);
  transition: all 0.1s ease-in-out;
  color: white;
  cursor: pointer;
  border: 2px solid var(--color-primary);
}

.btn__primary:hover {
  background-color: #2765c1;
  border-color: #2765c1;
}

.btn__success {
  background-color: var(--color-success);
  transition: all 0.1s ease-in-out;
  color: white;
  cursor: pointer;
  border: 2px solid var(--color-success);
}

.btn__success:hover {
  background-color: #088850;
  border-color: #088850;
}

.btn__danger {
  background-color: var(--color-red2);
  transition: all 0.1s ease-in-out;
  color: white;
  cursor: pointer;
  border: 2px solid var(--color-red2);
}

.btn__danger:hover {
  background-color: #c53030;
  border-color: #c53030;
}

.btn__warning {
  background-color: var(--color-warning);
  transition: all 0.1s ease-in-out;
  color: white;
  cursor: pointer;
  border: 2px solid var(--color-warning);
}

.btn__warning:hover {
  background-color: #dd9908;
  border-color: #dd9908;
}

.btn__outline_primary {
  background-color: white;
  border: 2px solid var(--color-primary);
  transition: all 0.1s ease-in-out;
  color: var(--color-primary);
  cursor: pointer;
}

.btn__outline_primary:hover {
  background-color: rgb(230, 239, 253);
}

.btn__outline_gray1 {
  background-color: white;
  border: 1px solid var(--color-gray1);
  transition: all 0.1s ease-in-out;
  color: var(--color-gray1);
  cursor: pointer;
}

.btn__outline_gray1:hover {
  background-color: rgb(234, 234, 234);
}

.btn__outline_disable {
  background-color: white;
  border: 1px solid var(--color-light-gray1);
  transition: all 0.1s ease-in-out;
  color: var(--color-light-gray1);
}

.btn__outline_red {
  background-color: white;
  border: 2px solid var(--color-red);
  transition: all 0.1s ease-in-out;
  color: var(--color-red);
  cursor: pointer;
}

.btn__outline_red:hover {
  background-color: rgb(255, 246, 245);
}

#layout {
  background-color: #f7f6f6;
}

.right-section {
  width: calc(100% - 250px);
  right: 0;
  background: #f7f6f6;
  /* box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(237, 236, 236, 0.5), inset -3px 3px 6px rgba(237, 236, 236, 0.2), inset 3px -3px 6px rgba(237, 236, 236, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.9), inset 3px 3px 8px rgba(237, 236, 236, 0.9); */
}

.custom__shadow_1 {
  box-shadow: 0px 0px 13px rgba(235, 235, 235, 0.9);
}

#headlessui-listbox-button-5 {
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
}

.top-center {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.6s ease-in-out;
}

.my__alert {
  animation: fadein 0.3s !important;
  -webkit-animation: fadein 0.3s !important;
  -moz-animation: fadein 0.3s !important;
  -ms-animation: fadein 0.3s !important;
  -o-animation: fadein 0.3s !important;
}

.input__error {
  border: 1px solid #e63535 !important;
}

.box__profile {
  box-shadow: 5px 5px 10px rgba(237, 237, 237, 0.2),
    -5px -5px 10px rgba(237, 237, 237, 0.2),
    5px -5px 10px rgba(255, 255, 255, 0.9),
    -5px 5px 13px rgba(237, 237, 237, 0.9),
    inset -1px 1px 2px rgba(255, 255, 255, 0.3),
    inset 1px -1px 2px rgba(237, 237, 237, 0.5);
}

input:read-only:focus {
  outline: none;
  border: initial;
  border: 1px solid #d7dadb;
  background: #fafafa;
  box-shadow: none;
}
input:focus {
  outline: none;
  border: 1px solid #99bbff;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(153, 187, 255, 0.25);
}

.tab__profile:hover {
  color: var(--color-primary);
}

.tab__active {
  color: var(--color-primary) !important;
  position: relative;
}

.tab__active::after {
  content: "";
  color: var(--color-primary);
  width: 3rem !important;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab__profile::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2em;
  background-color: var(--color-primary);
  -webkit-transition: width 300s ease-in-out;
  -moz-transition: width 300s ease-in-out;
  -o-transition: width 300s ease-in-out;
  transition: width 150ms;
}

.tab__profile:hover::after {
  width: 3rem;
}

.input__profile {
  background: #fdfdfd;
  border: 1px solid #d7dadb;
  box-sizing: border-box;
  border-radius: 4px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text__danger {
  color: #e63535;
}

.text__success {
  color: #05a660;
}

.text__warning {
  color: #ffae00;
}

.loading__container .loading__bar {
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%) !important;
}

.makeStyles-copyContainer-5 {
  background: white !important;
  color: #347ae2 !important;
}

.makeStyles-copyUrl-6 {
  color: #347ae2 !important;
  font-weight: 600 !important;
}

.makeStyles-copyIcon-7 {
  color: #347ae2 !important;
}

.time__line {
  left: 29px;
}

.image-gallery-icon:hover, .image-gallery-svg:hover {
  color: var(--color-primary)!important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  width: 24px;
  height: 24px;
}

.image-gallery-icon:focus {
  outline: none;
}

[data-tour-elem="controls"] {
  justify-content: space-between;
}

@media (max-width: 1366px) {
  .signature__inner_card {
    width: 80% !important;
  }
}

@media (max-width: 1120px) {
  .signature__inner_card {
    width: 75% !important;
  }
}

@media (max-width: 768px) {
  .right-section {
    width: 100%;
  }
  .time__line {
    left: 13px;
  }
}
