.signature__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signature__header h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #333539;
}

.signature__header h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  color: #333539;
}

.signature__toggle {
  display: flex;
  justify-content: center;
  align-self: center;
}

.signature__toggle svg {
  margin: 0 10px;
  cursor: pointer;
}

.signature__filter {
  display: flex;
  align-items: center;
  margin: 25px auto;
}

.signature__filter button {
  width: 150px;
  /* margin: 0 10px; */
  border: transparent;
}

/* Signature Card */
.signature__card {
  position: relative;
}

.signature__card h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #347ae2;
}

.signature__card img {
  margin: 15px auto;
  /* margin-top: 35px; */
}

.signature__card span {
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #79869f;
}

/* .signature__card > button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid red;
} */

.signature__card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.signature__card_footer span.label {
  background: rgba(214, 228, 249, 0.4);
  border-radius: 5px;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #347ae2;
  padding: 8px 16px;
}

.signature__empty {
  padding: 10rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signature__empty img {
  margin-bottom: 15px;
}

.signature__empty h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #333539;
}

/* SIGNATURE FORM */

.signature__form_card h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.signature__input {
  margin-bottom: 25px;
}

.signature__form {
  margin: 25px auto;
}

.signature__form label {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #333333;
  margin-bottom: 10px;
}

.signature__form label span {
  color: #347ae2;
}

.signature__form label span.red,
.signature__input span.red {
  color: #e63535;
}

.signature__form label span.optional {
  color: #bdbdbd;
}

.signature__form input,
.signature__form select,
.signature__form textarea {
  background: #fefefe;
  border: 1px solid #d7dadb;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  box-sizing: border-box !important;
  font-size: 16px;
}

.signature__form input:disabled,
.signature__form select:disabled,
.signature__form textarea:disabled {
  background-color: #efefef;
}

.signature__form input:focus,
.signature__form select:focus,
.signature__form textarea:focus {
  outline: none;
  border: 1px solid #99bbff;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(153, 187, 255, 0.25);
}

.signature__form input.error {
  border: 1px solid #e63535;
}

.signature__form_submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signature__form_submit button {
  margin: 0 10px;
  border-radius: 8px;
  padding: 9px 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.005em;
}
.signature__form_submit button.save {
  background: #347ae2;
  border-radius: 8px;
  color: #ffffff;
}

.signature__form_submit button.back {
  border: 1px solid #347ae2;
  color: #347ae2;
}

.signature__input_notes {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #ff6e72;
}

.signature__qr {
  text-align: center;
}

.progress__bar {
  left: 0;
  right: 0;
  margin: auto;
}

.progress__move {
  width: 0;
  transition: 3s;
  left: 0;
  margin: unset;
}

@media (min-width: 1366px) {
  .signature__qr img {
    width: 250px;
  }
}

.signature__inner_card {
  background: #ffffff;
  box-shadow: 5px 5px 10px rgba(237, 237, 237, 0.2),
    -5px -5px 10px rgba(237, 237, 237, 0.2),
    5px -5px 10px rgba(255, 255, 255, 0.9),
    -5px 5px 13px rgba(237, 237, 237, 0.9),
    inset -1px 1px 2px rgba(255, 255, 255, 0.3),
    inset 1px -1px 2px rgba(237, 237, 237, 0.5);
  border-radius: 10px;
  width: 100%;
}

.signer__info_data {
  margin-bottom: 25px;
}

.signer__info_data p {
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #61657e;
}

.signer__info_data h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.document__file {
  border: 1px solid #dde5e9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.signature__inner_menu {
  margin-bottom: 25px;
}

.signature__inner_menu .tab__profile {
  cursor: pointer;
}

/* -=-==-=-=--------------------------------------- */

.signature__upload_wrapper {
  background: rgba(214, 228, 249, 0.268);
  padding: 0.5rem;
  border-radius: 4px;
}

.video-dotline {
  position: relative;
  border: 1px dashed #347ae2;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
}

.video-dotline-err {
  position: relative;
  border: 1px dashed red;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
}

.video-upload {
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.video-upload:hover {
  cursor: pointer;
}

.video-preview {
  height: 220px;
  max-width: 100%;
}

.upl-img {
  margin-bottom: 10px;
}

.change__attachment{
  transition: all .3s ease-in-out;
}

.change__attachment.bg-blue-500 path{
  fill: white;
}

@media (max-width: 768px) {
  .signature__filter {
    display: block;
  }

  .signature__filter button {
    margin: 0;
    margin-top: 0.5rem;
  }

  .signature__header h3 {
    font-size: 22px;
    line-height: 26px;
  }

  .signature__menu_btn {
    margin-right: 8px;
    margin-top: 6px;
  }

  .signer__info_data p {
    font-size: 12px;
  }

  .signer__info_data h6 {
    font-size: 14px;
  }
}
