:root {
  --color-primary: #347ae2;
}

.custom__navbar {
  border-radius: 8px;
  height: 60px;  
}

.custom__divider {
  height: 40px;
  width: 1px;
  background-color: #bdbec0;
}

.username__navbar {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;

  color: var(--color-primary);
}

.black-notif {
  font-weight: normal;
  letter-spacing: 0.005em;

  color: #0a0a1f;
}

.input__navbar:focus {
  outline: none;
  border: none;
  background: #ffffff;
  box-shadow: none;
}

@media (max-width: 768px) {
  .search__icon {
    width: 18px;
  }

  .custom__navbar{
    height: 40px;
  }
}
