:root {
  --color-primary: #347ae2;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1rem;
  z-index: 1;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.96),
    inset 0px 3px 8px rgba(236, 236, 236, 0.9),
    -3px -3px 8px rgba(255, 255, 255, 0.5), 3px 3px 16px rgba(0, 0, 0, 0.2),
    -3px -3px 18px rgba(255, 255, 255, 0.5);
  transition: all 1s ease-in-out;
}

.sidebar__logo {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.sidebar__menu {
  margin-top: 5rem;
}

/* .sidebar__item {
  margin: 7.5px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
} */

.sidebar__item button {
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: var(--color-primary);
  text-align: left;

  width: 100%;
  padding: 12px;
  box-sizing: border-box !important;
  transition: all 0.1s ease-in-out;
}

.sidebar__item button.active {
  background: #347ae2;
  box-shadow: 1px 1px 2px rgba(57, 134, 249, 0.3),
    -1px -1px 2px rgba(47, 110, 203, 0.5),
    inset -5px 5px 10px rgba(47, 110, 203, 0.2),
    inset 5px -5px 10px rgba(47, 110, 203, 0.2),
    inset -5px -5px 10px rgba(57, 134, 249, 0.9),
    inset 5px 5px 13px rgba(47, 110, 203, 0.9);
  border-radius: 6px;
  color: #ffffff;
}

.sidebar__item button:hover {
  background: #347ae2;
  box-shadow: 1px 1px 2px rgba(57, 134, 249, 0.3),
    -1px -1px 2px rgba(47, 110, 203, 0.5),
    inset -5px 5px 10px rgba(47, 110, 203, 0.2),
    inset 5px -5px 10px rgba(47, 110, 203, 0.2),
    inset -5px -5px 10px rgba(57, 134, 249, 0.9),
    inset 5px 5px 13px rgba(47, 110, 203, 0.9);
  color: #ffffff;
  border-radius: 6px;
}

.sidebar__item button:hover svg *,
.sidebar__item button.active svg * {
  stroke: white !important;
}

.sidebar__item button::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 3rem;
  height: 0.2em;
  border-radius: 5px;
  background-color: var(--color-primary);
  -webkit-transition: width 300s ease-in-out;
  -moz-transition: width 300s ease-in-out;
  -o-transition: width 300s ease-in-out;
  transition: width 150ms;
}

/* .sidebar__item button:hover::after {
  width: 3rem;
}

.sidebar__item button.active::after {
  content: "";
  width: 3rem;
  position: absolute;
  bottom: 0;
  left: 3rem;
  height: 0.2em;
  border-radius: 5px;
  background-color: var(--color-primary);
  -webkit-transition: width 300s ease-in-out;
  -moz-transition: width 300s ease-in-out;
  -o-transition: width 300s ease-in-out;
  transition: width 150ms;
} */

.sidebar__footer_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  /* border: 1px solid red; */
  width: 100%;
  padding: 1rem;
}

.sidebar__footer {
  text-align: center;
  background: var(--color-primary);
  border-radius: 10px;
  width: 100%;
  height: 170px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.sidebar__footer h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.sidebar__footer button {
  background: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: var(--color-primary);
  padding: 9px 25px;
}

.sidebar__footer_orn1 {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar__footer_orn2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.outside__layer {
  width: calc(100% - 250px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .sidebar__menu {
    margin-top: 2rem;
  }
  .sidebar {
    opacity: 0;
    transition: opacity 2s ease-out;
  }
  .loaded.sidebar {
    opacity: 1;
    transition: opacity 2s ease-in;
  }
}

.sidebar__item button:hover span {
  background-color: white;
  color: #347ae2;
}
