:root {
  --color-primary: #347ae2;
  --color-red: #ff3b3b;
  --color-red2: #e63535;
  --color-warning: #ffae00;
  --color-gray1: #4f4f4f;
  --color-light-gray1: #e0e0e0;
  --color-success: #05a660;
}

.signature__card {
  box-shadow: 0px 0px 13px rgba(235, 235, 235, 0.9);
  border-radius: 8px;
}

.signature__inner_card {
  background: #ffffff;
  width: 100%;
  box-shadow: none;
  border-radius: none;
}

@media (max-width: 768px) {
  .tab__profile::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2em;
    margin: auto;
    right: 0;
    background-color: var(--color-primary);
    transition: width 150ms;
  }
}
